
:root {
  /* Root font size (rem) */
  font: 16px Arial, sans-serif;

  /* Page minimum width (making it laptop/desktop only) */
  --minimum-page-width: 1200px;

  /* Accessibility variables */
  --outline-width: 3px;
  --outline-color: rgb(0 215 255 / 1);

  /* Tool logo variables */
  --tool-logo-color: white;
  --tool-logo-background: darkslateblue;

  /* Left bar control variables */
  --left-bar-width: 320px;
  --left-bar-background: rgb(255 255 240 / 1);
  --left-bar-right-border: rgb(60 60 60 / 1);

  --left-bar-section-background: rgb(220 220 220 / 1);
  --left-bar-section-border: rgb(60 60 60 / 1);
  --left-bar-controls-background: rgb(240 240 240 / 1);
  --left-bar-controls-border: rgb(60 60 60 / 1);
  --control-button-panel-background: rgb(240 240 240 / 1);

  /* Right bar control variables */
  --right-bar-width: 320px;
  --filter-bar-background: rgb(255 248 255 / 1);
  --filter-bar-section-border: rgb(80 60 60 / 1);
  --filter-bar-section-background: rgb(230 220 220 / 1);;
  --filter-bar-input-background: rgb(255 252 255 / 1);
  --right-bar-left-border: rgb(60 60 60 / 1);
  --filter-bar-canvas-border: rgb(80 80 80 / 1);

  /* Central area app constants - values without measurement units are ratios */
  --minimum-image-work-ratio: 0.3;
  --minimum-filter-work-ratio: 0.15;
  --splitter-height: 6px;

  /*
  --image-work-height app variables
    - note that this starts (on page load) with a vh measure unit, but after user interaction (with the splitter bar) will become a px measure unit.
  */
  --image-work-height: 70vh;

  /* Canvas */
  --canvas-surround-color: rgb(255 255 0 / 1);

  /* Splitter bar */
  --splitter-background: rgb(255 150 150 / 1);
  --splitter-background-hover: rgb(220 0 0 / 1);


  /* Dialogues */
  --dialog-border: rgb(60 60 60 / 1);
  --dialog-button-background: rgb(220 220 220 / 1);
  --dialog-button-border: rgb(60 60 60 / 1);
  --dialog-row-separator: rgb(60 60 60 / 1);
  --dialog-cta-button-background: rgb(220 0 0 / 1);
  --dialog-cta-button-color: rgb(255 255 200 / 1);
  --dialog-disabled-button-background: rgb(160 160 160 / 1);
  --dialog-disabled-button-color: rgb(90 90 90 / 1);

  /* Image batch dialogue */
  --row-not-selected-background: rgb(240 240 240 / 1);
  --row-is-selected-background: rgb(255 255 200 / 1);

  /* Change filter dialogue */
  --details-background: rgb(240 240 250 / 1);
  --summary-background: rgb(210 210 240 / 1);
  --summary-text: rgb(20 20 120 / 1);
  --filter-card-background: rgb(230 230 255 / 1);

  /* Download modal */
  --listing-waiting-color: rgb(120 120 120 /1);
  --listing-processing-color: rgb(240 120 0 /1);
  --listing-error-color: rgb(240 0 0 /1);
  --listing-complete-color: rgb(0 140 0 /1);
  
  /* Range input control variables */
  --range-track: rgb(100 100 100 / 1);
  --range-pin-background: rgb(200 200 200 / 1);
  --range-pin-border: rgb(100 100 100 / 1);

  --range-track-disabled: rgb(220 220 220 / 1);
  --range-pin-background-disabled: rgb(240 240 240 / 1);
  --range-pin-border-disabled: rgb(220 220 220 / 1);

  --advice-color: rgb(220 0 0 / 1);
  --note-color: rgb(120 120 120 / 1);
  --matrix-warn-background: rgb(220 0 0 / 0.08);

  /* Filter action button top border colors */
  --viewport-good-color: rgb(0 0 200 / 1);
  --viewport-reasonable-color: rgb(220 140 0 / 1);
  --viewport-poor-color: rgb(200 0 0 / 1);
}

*:focus {
  outline: var(--outline-width) solid var(--outline-color);
}

/* Styling the range sliders across browsers */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  margin: 0.5rem 0;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    background-color: var(--range-track);
    border-radius: 2px;
    height: 4px;
  }

  &:disabled::-webkit-slider-runnable-track {
    background-color: var(--range-track-disabled);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -6px;
    background-color: var(--range-pin-background);
    border: 1px solid var(--range-pin-border);
    border-radius: 8px;
    height: 16px;
    width: 12px;
  }

  &:focus::-webkit-slider-thumb {
    outline: var(--outline-width) solid var(--outline-color);
  }

  &:disabled::-webkit-slider-thumb {
    background-color: var(--range-pin-background-disabled);
    border-color: var(--range-pin-border-disabled);
  }

  &::-moz-range-track {
    background-color: var(--range-track);
    border-radius: 2px;
    height: 4px;
  }

  &:disabled::-moz-range-track {
    background-color: var(--range-track-disabled);
  }

  &::-moz-range-thumb {
    background-color: var(--range-pin-background);
    border: 1px solid var(--range-pin-border);
    border-radius: 8px;
    height: 16px;
    width: 12px;
  }

  &:focus::-moz-range-thumb {
    outline: var(--outline-width) solid var(--outline-color);
  }

  &:disabled::-moz-range-thumb {
    background-color: var(--range-pin-background-disabled);
    border-color: var(--range-pin-border-disabled);
  }
}

body {
  margin: 0;
  border: 0;
  padding: 0;
}

main {
  width: 100vw;
  min-width: var(--minimum-page-width);
  height: 100vh;
  display: grid;
  grid-template-rows: var(--image-work-height) var(--splitter-height) 1fr;
  overflow: hidden;
}

#image-work {
  min-height: 0;
  height: 100%;
  display: grid;
  grid-template-columns: var(--left-bar-width) 1fr var(--right-bar-width);
}

#filter-work {
  min-height: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

#image-controls-panel {
  height: 100%;
  min-height: 0;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  border-right: 1px solid var(--left-bar-right-border);
  padding: 0 0.5rem;
  background-color: var(--left-bar-background);

  & h1 {
    font-size: 150%;
    margin: 0.5rem 0 0;
    color: var(--tool-logo-color);
    background-color: var(--tool-logo-background);
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
  }

  & > button {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 100%;
    margin: 0.5rem 0;
    border: 1px solid var(--left-bar-section-border);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: var(--left-bar-section-background);
    color: var(--advice-color);
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }

  & details {
    margin: 0.5rem 0;
    border: 1px solid var(--left-bar-section-border);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: var(--left-bar-section-background);

    &:hover {
      cursor: pointer;
    }

    &:focus-within {
      outline: var(--outline-width) solid var(--outline-color);
    }

    & summary {
      font-weight: bold;

      &:focus-visible {
        outline: none;
      }
    }

    & > div {
      margin-top: 0.5rem;
      border-radius: 5px;
      background-color: var(--left-bar-controls-background);
      border: 1px solid var(--left-bar-controls-border);
      padding: 0.25rem 0.5rem;

      & h2 {
        font-size: 120%;
        margin: 0;
      }

      & h3 {
        font-size: 110%;
        margin: 0;
      }

      & input {
        margin: 0;
      }
    }
  }
}

#image-details-panel {

  & input {
    opacity: 0;
    height: 0;
  }

  & label {
    border: 1px solid var(--dialog-button-border);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: var(--dialog-button-background);

    &:hover {
      cursor: pointer;
    }

    &.is-focussed {
      outline: var(--outline-width) solid var(--outline-color);
    }
  }

  & .scale-parameters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
    align-items: center;
    margin: 0.5rem 0 1rem;

    & button {
      font-size: 100%;
      display: block;
      box-sizing: border-box;
      background-color: var(--dialog-button-background);
      border-radius: 5px;
      padding: 0.25rem;
      margin: 0.25rem;
    }
  }
  & button#image-batch-modal-button {
    font-size: 100%;
    border: 1px solid var(--dialog-button-border);
    background-color: var(--dialog-button-background);
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0 0;
  }

  & #image-imports-hold {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & button {
      margin: 0.1rem;
      padding: 0;
      position: relative;

      /* If these dimensions change, then they also need to be updated in the `js-modules/image-import.js` file */
      width: 80px;
      height: 80px;

      & img {
        width: 100%;
        height: 100%;
        margin: 0;
        border: 0;
        padding: 0;
        object-fit: cover;
      }
    }
  }
}

#main-canvas-container {
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

#minimap-panel {

  & button {
    font-size: 100%;
    background-color: var(--dialog-button-background);
    border-radius: 5px;
    padding: 0.25rem;
    margin: 0 0 0.5rem 4rem;
  }

  & .minimap-parameters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
    align-items: center;
    margin: 0.5rem 0 1rem;

    & button {
      font-size: 100%;
      display: block;
      box-sizing: border-box;
      background-color: var(--dialog-button-background);
      border-radius: 5px;
      padding: 0.25rem;
      margin: 0.25rem;
    }
  }
}

#filter-controls-panel {
  height: 100%;
  min-height: 0;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  border-left: 1px solid var(--right-bar-left-border);
  padding: 0 0.5rem;
  background-color: var(--filter-bar-background);

  & > h2 {
    font-size: 100%;
    line-height: 1.5;
    border: 1px solid var(--filter-bar-section-border);
    padding: 0.3rem 0.5rem;
    border-radius: 5px;

    & span {
      font-weight: normal;
      font-style: italic;
    }

    & #current-filter-modified {
      display: none;
      color: var(--advice-color);
    }
  }

  & .filter-controls-panel-top-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin: 0.5rem 0;

    & button,
    & #import-filter-button label {
      display: block;
      box-sizing: border-box;
      text-align: center;
      font-size: 100%;
      margin: 0;
      border: 1px solid var(--filter-bar-section-border);
      padding: 0.25rem 0.5rem;
      border-radius: 5px;
      background-color: var(--filter-bar-section-background);
      color: var(--advice-color);
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }

    & #change-filter-modal-button {
      grid-column: 1 / -1;
    }

    & #import-filter-button input {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      white-space: nowrap;
      border: 0;
    }

    & #import-filter-button input:focus-visible + label {
      outline: var(--outline-width) solid var(--outline-color);
    }
  }

  & #preview-warning {
    font-size: 85%;
    color: var(--advice-color);

    display: none;

    &.warning-is-active {
      display: block;
    }
  }

  & details {
    margin: 0.5rem 0;
    border: 1px solid var(--filter-bar-section-border);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: var(--filter-bar-section-background);

    &:hover {
      cursor: pointer;
    }

    &:focus-within {
      outline: var(--outline-width) solid var(--outline-color);
    }

    & summary {
      font-weight: bold;

      & .summary-title {
        font-size: 1.1rem;
      }

      & .summary-identifier {
        font-size: 0.8rem;
        font-weight: normal;
      }

      &:focus {
        outline: none;
      }
    }

    & .form-action-controls-panel {
      margin-bottom: 0.5rem;

      & .form-action-section-panel {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        background-color: var(--filter-bar-background);
        padding-bottom: 0.5rem;

        & > div {
          background-color: var(--filter-bar-input-background);
          border: 0;
        }

        /* filter-schema.js - controlType: 'line-text' */
        & .action-control-inputs-for-linetext {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 2px;
          justify-content: start;

          margin: 0.5rem 0 0;
          padding: 0.5rem;
          border-radius: 5px;

          & input {
            width: calc(100% - 0.5rem);
          }
        }

        /* filter-schema.js - controlType: 'swirl' */
        & .action-control-inputs-for-swirls {

          & .swirls-panel {
            margin-top: 0.5rem;
            border-radius: 5px;
            border: 1px solid var(--filter-bar-section-border);
          }

          & .swirls-topper {
            margin: 0.5rem;
            display: flex;
            justify-content: space-between;

            & .swirls-title {
              font-weight: bold;
            }

            & button {
              border-radius: 5px;
              border: 1px solid var(--filter-bar-section-border);
              width: 5rem;
              margin: 0;
            }
          }

          & .add-swirl-button {
            margin-top: 0.5rem;
            width: 100%;
            border-radius: 5px;
            border: 1px solid var(--filter-bar-section-border);
          }
        }

        /* filter-schema.js - controlType: 'text' */
        & .action-control-inputs-for-text {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 2px;
          justify-content: start;

          margin: 0.5rem 0 0;
          padding: 0.5rem;
          border-radius: 5px;

          & input {
            width: calc(100% - 0.5rem);
          }
        }

        /* filter-schema.js - controlType: 'select' */
        & .action-control-inputs-for-select {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 2px;
          justify-content: start;

          margin: 0.5rem 0 0;
          padding: 0.5rem;
          border-radius: 5px;

          & select {
            width: calc(100% - 0.5rem);
          }
        }

        /* filter-schema.js - controlType: 'number' */
        & .action-control-inputs-for-number {
          margin: 0.5rem 0 0;
          padding: 0.5rem;
          border-radius: 5px;

          & .action-control-inputs-for-number-row-1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2px;
            justify-content: start;
          }

          & .action-control-inputs-for-number-row-2 {

            & label {
              position: absolute;
              left: -1000px;
            }
          }
        }

        /* filter-schema.js - controlType: 'boolean' */
        & .action-control-inputs-for-boolean {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 2px;
          justify-content: start;

          margin: 0.5rem 0 0;
          padding: 0.5rem;
          border-radius: 5px;
        }

        /* filter-schema.js - controlType: 'color' */
        & .action-control-inputs-for-color {

          margin: 0.5rem 0 0;
          padding: 0.5rem;
          border-radius: 5px;

          & .action-control-inputs-for-color-row-1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2px;
            justify-content: start;
            align-items: center;

            & input[type="color"] {
              width: 100%;
              height: 1.6rem;
              border-radius: 5px;
            }
          }

          & .action-control-inputs-for-color-row-2 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 2px;
            justify-content: center;
            align-items: center;
            font-size: 85%;

            & div {
              display: grid;
              grid-template-columns: 1fr;
              width: 100%;
              margin-top: 0.25rem;

              & label {
                text-align: left;
              }

              & input {
                font-size: 90%;
              }
            }
          }
        }

        /* filter-schema.js - controlType: 'color-array' */
        & .action-control-inputs-for-color-array {

          margin: 0.5rem 0 0;
          padding: 0.5rem;
          border-radius: 5px;

          & .action-control-inputs-for-color-array-row-1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2px;
            justify-content: start;
            align-items: center;

            & input[type="color"] {
              width: 100%;
              height: 1.6rem;
              border-radius: 5px;
            }
          }

          & .action-control-inputs-for-color-array-row-2 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 2px;
            justify-content: center;
            align-items: center;
            font-size: 85%;

            & div {
              display: grid;
              grid-template-columns: 1fr;
              width: 100%;
              margin-top: 0.25rem;

              & label {
                text-align: left;
              }

              & input {
                font-size: 90%;
              }
            }
          }
        }

        /* filter-schema.js - controlType: 'area-alpha' */
        & .action-control-inputs-for-area-alpha {

          margin: 0.5rem 0 0;
          padding: 0.5rem;
          border-radius: 5px;

          & .action-control-inputs-for-area-alpha-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2px;
            justify-content: center;
            align-items: center;
            font-size: 85%;

            & div {
              display: grid;
              grid-template-columns: 1fr;
              width: 100%;
              margin-top: 0.25rem;

              & label {
                text-align: left;
              }

              & input {
                font-size: 90%;
              }
            }
          }
        }

        /* filter-schema.js - controlType: 'bespoke-chroma-ranges' */
        & .action-control-inputs-for-color-ranges {

          & label {
            margin-top: 0.5rem;
            display: block;
            width: 100%;
          }

          & input {
            margin-top: 0.5rem;
            display: block;
            width: calc(100% - 0.5rem);
            font-family: monospace;
            font-size: 85%;
          }

          & .small-field-message {
            margin: 0.25rem 0 0.5rem;
            display: block;
            width: 100%;
            font-size: 80%;
            color: var(--advice-color);

            & .monospace-font {
              font-family: monospace;
              color: rgb(100 0 0);
            }
          }
        }

        /* filter-schema.js - controlType: 'bespoke-channel-levels' */
        & .action-control-inputs-for-channel-levels {

          & label {
            margin-top: 0.5rem;
            display: block;
            width: 100%;
          }

          & input {
            margin-top: 0.5rem;
            display: block;
            width: calc(100% - 0.5rem);
            font-family: monospace;
            font-size: 85%;
          }

          & .small-field-message {
            margin: 0.25rem 0 0.5rem;
            display: block;
            width: 100%;
            font-size: 80%;
            color: var(--advice-color);
          }
        }

        /* filter-schema.js - controlType: 'bespoke-matrix-weights' */
        & .action-control-inputs-for-matrix {

          & label {
            margin-top: 0.5rem;
            display: block;
            width: 100%;
          }

          & textarea {
            margin-top: 0.5rem;
            display: block;
            width: calc(100% - 0.5rem);
            font-family: monospace;
            font-size: 85%;
          }

          & .small-field-message {
            margin: 0.25rem 0 0.5rem;
            display: block;
            width: 100%;
            font-size: 80%;
            color: var(--advice-color);
          }

          &.matrix-incorrect-length {
            background-color: var(--matrix-warn-background);
          }
        }

        /* filter-schema.js - controlType: 'bespoke-reduce-palette' */
        & .action-control-inputs-for-reduce-palette {

          & label {
            margin-top: 0.5rem;
            display: block;
            width: 100%;
          }

          & textarea {
            margin-top: 0.5rem;
            display: block;
            width: calc(100% - 0.5rem);
            font-family: monospace;
            font-size: 85%;
          }

          & .small-field-message {
            margin: 0.25rem 0 0.5rem;
            display: block;
            width: 100%;
            font-size: 80%;
            color: var(--advice-color);

            & .monospace-font {
              font-family: monospace;
              color: rgb(100 0 0);
            }

            & ul {
              padding-inline-start: 1rem;
              margin-top: 0.25rem;

              & li {
                margin-top: 0.25rem;
              }
            }
          }

          & .copy-current-colors {
            margin: 0.25rem 0 0.5rem;
            display: block;
            width: 100%;
            font-size: 80%;
            border-radius: 5px;
            border: 1px solid var(--note-color);
            padding: 0.25rem;
          }
        }

        /* filter-schema.js - controlType: 'bespoke-vary-channel-by-weights' */
        & .action-control-inputs-for-color-curve-weights {

          & canvas {
            margin: 0.5rem auto 1rem auto;
            box-shadow: 0px 0px 0px 1px var(--filter-bar-canvas-border);
            background-color: var(--filter-bar-canvas-border);
          }

          & .color-curve-weights-control-wrapper {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            gap: 2px;
            font-size: 85%;

            & div {
              margin: 0;
              padding: 0;
            }

            & input {
              margin: 0;
              padding: 0;
              font-size: 100%;
              font-family: monospace;
            }

            & select {
              width: 90%;
              margin-bottom: 0.25rem;
            }
          }

          & .hidden-label {
            position: absolute;
            left: -2000px;
          }
        }

        /* filter-schema.js - controlType: 'bespoke-ok-perceptual-curves' */
        & .action-control-inputs-for-tone-curve-weights {

          & canvas {
            margin: 0.5rem auto 1rem auto;
            box-shadow: 0px 0px 0px 1px var(--filter-bar-canvas-border);
            background-color: var(--filter-bar-canvas-border);
          }

          & .tone-curve-weights-control-wrapper {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            gap: 2px;
            font-size: 85%;

            & div {
              margin: 0;
              padding: 0;
            }

            & input {
              margin: 0;
              padding: 0;
              font-size: 100%;
              font-family: monospace;
            }

            & select {
              width: 90%;
              margin-bottom: 0.25rem;
            }
          }

          & .hidden-label {
            position: absolute;
            left: -2000px;
          }
        }

        /* filter-schema.js - controlType: 'bespoke-map-to-gradient' */
        & .action-control-inputs-for-map-to-gradient {

          & canvas {
            margin: 0.5rem auto 1rem auto;
            box-shadow: 0px 0px 0px 1px var(--filter-bar-canvas-border);
            background-color: var(--filter-bar-canvas-border);
          }

          & .gradient-controls-wrapper {
            font-size: 85%;

            & .action-control-inputs-for-gradient {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 2px;
            }

            & .action-control-inputs-for-color-stop {
              padding-top: 0.5rem;
              border-top: 1px dotted var(--filter-bar-canvas-border);
              margin-top: 0.5rem;
            }

            & div {
              margin: 0;
              padding: 0;
            }

            & input {
              margin: 0;
              padding: 0;
              font-size: 100%;
              font-family: monospace;
              display: block;
            }

            & input[type=color] {
              width: 3.3rem;
              height: 1.2rem;
            }

            & input[type=number] {
              width: 2.5rem;
              height: 0.9rem;
            }

            & button {
              width: 4rem;
              height: 1.5rem;
              justify-self: end;
              align-self: center;
              border-radius: 5px;
              border: 1px solid var(--filter-bar-canvas-border);
            }

            & .action-control-inputs-for-color-stop-row-1 {
              display: grid;
              grid-template-columns: 1fr 1fr 50%;
              gap: 2px;
            }

            & .action-control-inputs-for-color-stop-row-2 {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr;
              gap: 2px;
              margin-top: 0.3rem;
            }

            & .add-new-color-stop-button {
              width: 100%;
              margin-top: 1rem;
              border-radius: 5px;
              border: 1px solid var(--filter-bar-canvas-border);
            }
          }
        }
      }
    }
  }
}

main.filter-has-been-modified #filter-controls-panel > h2 span#current-filter-modified {
  display: inline;
}


#splitter {
  height: 6px;
  cursor: row-resize;
  background: var(--splitter-background);

  &:hover {
    background: var(--splitter-background-hover);
  }
}

#filter-builder-area {
  min-width: 0;
  min-height: 0;
  position: relative;

  & #filter-builder-stack {
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: var(--filter-bar-section-border);
  }
}

#filter-builder-area-hold {
  display: none;
}

.graph-action-button {
  border-radius: 5px;
  border: 1px solid var(--filter-bar-section-border);
  border-top-width: 5px;
  padding: 0 1rem;

  & h2 {
    font-size: 150%;
    margin: 0;
    padding: 0;
  }
  & p {
    margin: 0;
    padding: 0;
    font-size: 90%;
  }

  &.viewport-good-marker {
    border-top-color: var(--viewport-good-color);
  }
  &.viewport-reasonable-marker {
    border-top-color: var(--viewport-reasonable-color);
  }
  &.viewport-poor-marker {
    border-top-color: var(--viewport-poor-color);
  }
}

dialog {
  max-height: 80vh;
  max-width: 80vw;
  border: 1px dashed var(--dialog-border);
  border-radius: 5px;

  & button.close {
    float: right;
    font-size: 100%;
    border-radius: 5px;
    border: 1px solid var(--dialog-button-border);
    background-color: var(--dialog-button-background);

    &:hover {
      cursor: pointer;
    }
  }
}

#image-batch-modal {

  width: 60vw;
  max-width: 60rem;
  height: 80vh;
  overflow-y: auto;
  box-sizing: border-box;
  line-height: 1.5;

  & .removal-row {
    border-top: 1px solid var(--dialog-border);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--row-not-selected-background);

    &.removal-candidate {
      background-color: var(--row-is-selected-background);
    }

    & input[type="checkbox"] {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 5px;
    }

    & .removal-filename {
      flex: 1;
      text-align: left;
      margin-left: 2rem;
      font-size: 1.1rem;
    }

    & img {
      border-radius: 5px;
    }
  }

  & button#image-batch-modal-remove-action {
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    border: 1px solid var(--dialog-button-border);
    background-color: var(--dialog-button-background);
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    margin: 1rem 0 0;

    &:hover {
      background-color: var(--dialog-cta-button-background);
      color: var(--dialog-cta-button-color);
    }
  }
}

#downloads-modal {

  width: 60vw;
  max-width: 60rem;
  height: 80vh;
  overflow-y: auto;
  box-sizing: border-box;
  line-height: 1.5;

  & button#process-and-download-action {
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    border: 1px solid var(--dialog-button-border);
    background-color: var(--dialog-button-background);
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    margin: 1rem 0 0;

    &:hover {
      background-color: var(--dialog-cta-button-background);
      color: var(--dialog-cta-button-color);
    }
    &[disabled] {
      background-color: var(--dialog-disabled-button-background);
      color: var(--dialog-disabled-button-color);
    }
    &[disabled]:hover {
      background-color: var(--dialog-disabled-button-background);
      color: var(--dialog-disabled-button-color);
    }
  }

  & .image-format-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 1rem;
    background-color: rgb(220 220 220);
    padding: 0.5rem;
    border-radius: 5px;

    & div {
      font-weight: bold;
      padding-right: 2rem;
    }

    & label {
      padding-right: 1rem;
    }

    & input[type=number] {
      width: 3rem;
      padding-right: 2rem;
    }

    & input[type=checkbox] {
      width: 1.5rem;
      height: 1.5rem;
    }

    &.selected-download-format {
      background-color: rgb(220 255 220);
    }
  }

  & .image-file-listing {

    font: 1rem monospace;
    margin-bottom: 0.25rem;

    &.waiting-to-process {
      color: var(--listing-waiting-color);
    }
    &.being-processed {
      color: var(--listing-processing-color);
    }
    &.processing-done {
      color: var(--listing-complete-color);
    }
    &.processing-failed {
      color: var(--listing-error-color);
    }
  }

}

#instructions-modal {

  width: 60vw;
  max-width: 60rem;
  height: 80vh;
  overflow-y: auto;
  box-sizing: border-box;
  line-height: 1.3;

  img {
    display: block;
    width: 100%;
  }

  & li {
    margin-bottom: 0.5rem;
  }

  & h2 {
    font-size: 130%;
    padding-bottom: 0.1rem;
    border-bottom: 1px solid var(--dialog-border);
  } 

  & h3 {
    font-size: 115%;
    padding-bottom: 0.1rem;
    border-bottom: 1px dashed var(--dialog-border);
  }

  & .how-to-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }
}

.advice-text {
  font-size: 90%;
  color: var(--advice-color);
}

#change-filter-modal {

  width: 60vw;
  max-width: 60rem;
  max-height: 80vh;
  overflow-y: auto;
  box-sizing: border-box;
  line-height: 1.5;

  & h2 {
    font-size: 130%;
    padding-bottom: 0.1rem;
    border-bottom: 1px solid var(--dialog-border);
  } 

  & h3 {
    font-size: 115%;
    padding-bottom: 0.1rem;
    border-bottom: 1px dashed var(--dialog-border);
  }

  & #user-filters-area {

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    background-color: var(--details-background);
    padding: 1rem;
    border-radius: 5px;

    & button {
      padding: 0.5rem;
      border-radius: 8px;
      border: 1px solid var(--dialog-button-border);
      background-color: var(--filter-card-background);
      width: calc(120px + 1rem);
      min-width: calc(120px + 1rem);
      max-width: calc(120px + 1rem);
    }
  }

  & #starter-filters-area {

    & details {
      margin-bottom: 1rem;
      border-radius: 5px;
    
      &:focus-within {
        outline: var(--outline-width) solid var(--outline-color);
      }

      & summary {
        color: var(--summary-text);
        background-color: var(--summary-background);
        padding: 0.5rem 1rem;
        border-radius: 5px;

        &:focus {
          outline: none;
        }
      }

      & .filter-button-grid {

        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: stretch;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
        background-color: var(--details-background);
        padding: 1rem;
        border-radius: 5px;

        & button {
          padding: 0.5rem;
          border-radius: 8px;
          border: 1px solid var(--dialog-button-border);
          background-color: var(--filter-card-background);
          width: calc(120px + 1rem);
          min-width: calc(120px + 1rem);
          max-width: calc(120px + 1rem);
        }

        & img {
          width: 100%;
          border-radius: 5px;
        }

        & p {
          margin: 0.5rem 0 0;
        }
      }
    }
  }
}
